extends template.jade

block content
	.articles
		.wrapper
			h3 Статьи
			.articles-list-4
				a(href="article-item.html").articles__item
					img(src="img/articles-1.jpg", alt="")
					.articles__info
						p.name Один шкаф по цене двух Один шкаф по цене двух 
						span.date 01.05.2017
						p.descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent aliquam, justo convallis luctus rutrum Praesent aliquam, justo convallis luctus rutrum
				a(href="").articles__item
					img(src="img/articles-2.jpg", alt="")
					.articles__info
						p.name Один шкаф по цене двух Один шкаф по цене двух 
						span.date 01.05.2017
						p.descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent aliquam, justo convallis luctus rutrum Praesent aliquam, justo convallis luctus rutrum
				a(href="").articles__item
					img(src="img/articles-3.jpg", alt="")
					.articles__info
						p.name Один шкаф по цене двух Один шкаф по цене двух 
						span.date 01.05.2017
						p.descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent aliquam, justo convallis luctus rutrum Praesent aliquam, justo convallis luctus rutrum
				a(href="").articles__item
					img(src="img/articles-4.jpg", alt="")
					.articles__info
						p.name Один шкаф по цене двух Один шкаф по цене двух 
						span.date 01.05.2017
						p.descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent aliquam, justo convallis luctus rutrum Praesent aliquam, justo convallis luctus rutrum
			.articles-list
				.articles__item
					img(src="img/articles-5.jpg", alt="")
					.articles__info
						p.name Один шкаф по цене двух Один шкаф по цене двух 
						span.date 01.05.2017
						p.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae diam metus. Donec cursus magna eget sem convallis facilisis. Vestibulum dictum nibh at ullamcorper tincidunt. Phasellus scelerisque nisl non ullamcorper pellentesque. Nunc sagittis, felis in feugiat mollis, libero eros consectetur elit, non cursus lacus nisl at dolor.  Vestibulum dictum nibh at ullamcorper tincidunt. Phasellus scelerisque nisl non ullamcorper pellentesque. 
						a(href="").btn Подробнее
				.articles__item
					img(src="img/articles-5.jpg", alt="")
					.articles__info
						p.name Один шкаф по цене двух Один шкаф по цене двух 
						span.date 01.05.2017
						p.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae diam metus. Donec cursus magna eget sem convallis facilisis. Vestibulum dictum nibh at ullamcorper tincidunt. Phasellus scelerisque nisl non ullamcorper pellentesque. Nunc sagittis, felis in feugiat mollis, libero eros consectetur elit, non cursus lacus nisl at dolor.  Vestibulum dictum nibh at ullamcorper tincidunt. Phasellus scelerisque nisl non ullamcorper pellentesque. 
						a(href="").btn Подробнее
				.articles__item
					img(src="img/articles-5.jpg", alt="")
					.articles__info
						p.name Один шкаф по цене двух Один шкаф по цене двух 
						span.date 01.05.2017
						p.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae diam metus. Donec cursus magna eget sem convallis facilisis. Vestibulum dictum nibh at ullamcorper tincidunt. Phasellus scelerisque nisl non ullamcorper pellentesque. Nunc sagittis, felis in feugiat mollis, libero eros consectetur elit, non cursus lacus nisl at dolor.  Vestibulum dictum nibh at ullamcorper tincidunt. Phasellus scelerisque nisl non ullamcorper pellentesque. 
						a(href="").btn Подробнее
				