extends template.jade

block content
	.top-slider 
		.top-slider-item
			.wrapper
				.top-slider-info
					h3 Лучшее решение для вашего дома
					p Modern design and environmentally friendly materials. Warmth and comfort for your home
					a(href="#").more More
			img(src="img/main-1.jpg", alt="")
		.top-slider-item
			.wrapper
				.top-slider-info
					h3 Лучшее решение для вашего дома
					p Modern design and environmentally friendly materials. Warmth and comfort for your home Modern design and environmentally friendly materials. Warmth and comfort for your home
					a(href="#").more More
			img(src="img/main-2.jpg", alt="")
		.top-slider-item
			.wrapper
				.top-slider-info
					h3 Лучшее решение для вашего дома
					p Modern design and environmentally friendly materials. Warmth and comfort for your home
					a(href="#").more More
			img(src="img/main-3.jpg", alt="")
		.top-slider-item
			.wrapper
				.top-slider-info
					h3 Лучшее решение для вашего дома
					p Modern design and environmentally friendly materials. Warmth and comfort for your home
					a(href="#").more More
			img(src="img/main-4.jpg", alt="")
	.wrapper
		.points
			h2 преимущества
			.points-list
				.points-item
					img(src="img/points-1.png", alt="")
					p Modern design and environmentally friendly 
				.points-item
					img(src="img/points-2.png", alt="")
					p Modern design and environmentally friendly Modern design and environmentally friendly 
				.points-item
					img(src="img/points-3.png", alt="")
					p Modern design and environmentally friendly 
				.points-item
					img(src="img/points-1.png", alt="")
					p Modern design and environmentally friendly Modern design and environmentally friendly 
				.points-item
					img(src="img/points-2.png", alt="")
					p Modern design and environmentally friendly 
				.points-item
					img(src="img/points-3.png", alt="")
					p Modern design and environmentally friendly 
		.popular
			h2 популярное
			.popular-slider
				.popular-slider-item
					img(src="img/popular-1.jpg", alt="")
					h5 Three thumb LB1
					p.price 15 000 p.
				.popular-slider-item
					img(src="img/popular-2.jpg", alt="")
					h5 Three thumb LB1
					p.price 15 000 p.
				.popular-slider-item
					img(src="img/popular-3.jpg", alt="")
					h5 Three thumb LB1 Three thumb LB1
					p.price 15 000 p.
				.popular-slider-item
					img(src="img/popular-4.jpg", alt="")
					h5 Three thumb LB1
					p.price 15 000 p.
				.popular-slider-item
					img(src="img/popular-1.jpg", alt="")
					h5 Three thumb LB1
					p.price 15 000 p.
	.gallery 
		.wrapper
			.gallery-top
				h2 Галерея
				.gallery-category
					.gallery-category-item.active.js-cat(data-item="cat-1") Category
					.gallery-category-item.js-cat(data-item="cat-2") Category
					.gallery-category-item.js-cat(data-item="cat-3") Category
		.gallery-list
			.gallery-item.gallery-item--cat-1
				img(src="img/img-1.jpg", alt="")
				img(src="img/img-2.jpg", alt="")
				img(src="img/img-3.jpg", alt="")
				img(src="img/img-4.jpg", alt="")
				img(src="img/img-1.jpg", alt="")
				img(src="img/img-2.jpg", alt="")
				img(src="img/img-3.jpg", alt="")
				img(src="img/img-4.jpg", alt="")
				img(src="img/img-2.jpg", alt="")
				img(src="img/img-3.jpg", alt="")
				img(src="img/img-4.jpg", alt="")
				img(src="img/img-1.jpg", alt="")
				img(src="img/img-2.jpg", alt="")
				img(src="img/img-3.jpg", alt="")
				img(src="img/img-4.jpg", alt="")
				img(src="img/img-1.jpg", alt="")
			.gallery-item.gallery-item--cat-2
				img(src="img/img-1.jpg", alt="")
				img(src="img/img-2.jpg", alt="")
				img(src="img/img-3.jpg", alt="")
				img(src="img/img-4.jpg", alt="")
				img(src="img/img-1.jpg", alt="")
				img(src="img/img-2.jpg", alt="")
				img(src="img/img-3.jpg", alt="")
				img(src="img/img-4.jpg", alt="")
				img(src="img/img-2.jpg", alt="")
				img(src="img/img-3.jpg", alt="")
				img(src="img/img-4.jpg", alt="")
				img(src="img/img-1.jpg", alt="")
				img(src="img/img-2.jpg", alt="")
				img(src="img/img-3.jpg", alt="")
				img(src="img/img-4.jpg", alt="")
				img(src="img/img-1.jpg", alt="")
			.gallery-item.gallery-item--cat-3
				img(src="img/img-1.jpg", alt="")
				img(src="img/img-2.jpg", alt="")
				img(src="img/img-3.jpg", alt="")
				img(src="img/img-4.jpg", alt="")
				img(src="img/img-1.jpg", alt="")
				img(src="img/img-2.jpg", alt="")
				img(src="img/img-3.jpg", alt="")
				img(src="img/img-4.jpg", alt="")
				img(src="img/img-2.jpg", alt="")
				img(src="img/img-3.jpg", alt="")
				img(src="img/img-4.jpg", alt="")
				img(src="img/img-1.jpg", alt="")
				img(src="img/img-2.jpg", alt="")
				img(src="img/img-3.jpg", alt="")
				img(src="img/img-4.jpg", alt="")
				img(src="img/img-1.jpg", alt="")
	.comments
		.comments-bg
			.comments-slider
				.comments-slider-item
					.comments-info
						.comments-info-center
							img(src="img/comments-img.jpg", alt="")
							.comments-text
								h4 Неубиваемый Грэмм
								p Большое спасибо за мебель! Фантастически быстро. Обещали выполнить к 6 декабря, а 27 ноября уже собрали. сейчас доделаем ремонт и закажем ещё 16. <br>
									| Так держать!
				.comments-slider-item
					.comments-info
						.comments-info-center
							img(src="img/comments-img.jpg", alt="")
							.comments-text
								h4 2Неубиваемый Грэмм
								p Большое спасибо за мебель! Фантастически быстро. Обещали выполнить к 6 декабря, а 27 ноября уже собрали. сейчас доделаем ремонт и закажем ещё 16. <br>
									| Так держать!
								p Большое спасибо за мебель! Фантастически быстро. Обещали выполнить к 6 декабря, а 27 ноября уже собрали. сейчас доделаем ремонт и закажем ещё 16. <br>
									| Так держать!
				.comments-slider-item
					.comments-info
						.comments-info-center
							img(src="img/comments-img.jpg", alt="")
							.comments-text
								h4 3Неубиваемый Грэмм
								p Большое спасибо за мебель! Фантастически быстро. Обещали выполнить к 6 декабря, а 27 ноября уже собрали. сейчас доделаем ремонт и закажем ещё 16. <br>
									| Так держать!
		.comments-new
			h2 Оставьте отзыв
			.comments-new-form
				.wrapper
					form(action="")
						.comments-new-form__left
							input(type="text" name="" placeholder="Name")
							input(type="email" name="" placeholder="E-mail")
							input(type="text" name="" value="Captcha" readonly)
							input(type="text" name="" placeholder="Captcha")
							.file-load Add image...
							input(type="file" name="")
						.comments-new-form__right
							textarea(name="" placeholder="Message")
						.comments-new-form__center
							button(type="submit") Send
	// .wrapper
